.bug {
    background-color: #399950 !important;
}

.dark {
    background-color: #5a5a7a !important;
}

.dragon {
    background-color: #63c9d6 !important;
}

.electric {
    background-color: #f7ef76 !important;

}

.fairy {
    background-color: #e9146a !important;

}

.fighting {
    background-color: #ee6137 !important;

}

.fire {
    background-color: #f04f5c !important;

}

.flying {
    background-color: #93b2c7 !important;

}

.ghost {
    background-color: #916790 !important;

}

.grass {
    background-color: #4db850 !important;

}

.ground {
    background-color: #6e4a20 !important;

}

.ice {
    background-color: #c2e8f8 !important;

}

.normal {
    background-color: #ca97a6 !important;

}

.poison {
    background-color: #8b6baf !important;

}

.psychic {
    background-color: #ed2690 !important;

}

.rock {
    background-color: #8b3f20 !important;

}

.steel {
    background-color: #47bc94 !important;

}

.water {
    background-color: #8ea5d5 !important;

}